.Section__article-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e1e2;
  border-top: 1px solid #e0e1e2;
}

.Div {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
.Div .Div__dropDown-button {
  border: none;
  background-color: white;
  color: #324755;
}
.Div .fas {
  font-size: 20px;
}

.headLineLarge {
  padding-bottom: 0.7em;
  font-size: 15px;
  color: #324755;
}