* {
  box-sizing: border-box;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  color: #324755;
}

.Nav {
  padding: 2em;
}
.Nav .Nav__ul {
  justify-content: space-between;
  display: flex;
}
.Nav .Nav__ul-li {
  list-style-type: none;
  color: #324755;
}
.Nav .Nav__ul-li a {
  text-decoration: none;
  color: #324755;
}

.Header__div {
  border-top: 0.5px solid #e0e1e2;
  border-bottom: 0.5px solid #e0e1e2;
  padding: 0.7em;
}

.Div__input {
  width: 100%;
  border: none;
  background-color: #f0f3f4;
  padding: 0.5em;
  border-radius: 5px;
  background-image: url(/images/searchIcon.png);
  background-repeat: no-repeat;
  background-position: right;
}

/*LIGHT AND DARK MODE*/
:root {
  background-color: white;
  color: #3d3d3d;
}

.lightMode {
  background-color: #171923;
  color: #c5cddb;
}
.lightMode .Div__dropDown-button {
  background-color: #171923;
  color: #c5cddb;
}